.product-img {
  max-width: 100%;
  height: auto;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  font-size: 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.product-tag {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
}

.product-subtitle {
  font-size: 12px;
}
