.App {
  max-width: 1500px;
  min-width: 800px;
}

.App main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.App header {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.App section {
  margin: 20px;
  border: 1px solid black;
}

.App-side {
  display: flex;
  min-width: 50px;
  flex-direction: column;
  flex-basis: 25%;
  width: 25%;
}

.App-main {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  flex-basis: 65%;
  width: 65%;
}
